<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab_management">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_haui"
        android:label="Quản lý phòng Lab"
        android:roundIcon="@drawable/logo_haui"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".manage_device.EditDevice"></activity>
        <activity android:name=".manage_device.ListDevice" />
        <activity android:name=".manage_device.AddDeviceActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".manage_verify.ListVerify" />
        <activity android:name=".manage_verify.EditVerify" />
        <activity android:name=".manage_verify.AddNewVerify" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>